body {
    font-family: 'Arial', Verdana, sans-serif;
    min-height: 100vh;
}

main {
    margin-left: 15%;
    padding-top: 125px;
    padding-left: 30px;
    padding-right: 30px;
}

header {
    box-sizing: border-box;
    background-color: red;
    position: fixed;
    top: 0;
    left: 15%;          
    width: 85%;          
    height: 15vh;       
}

header p {
    font-size: 30px; 
    padding: 30px;
    margin: 0;
    text-align: center;
}

#menuItems {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
}

button {
    display: block;   
    width: 100%;
    height: 50px;
    background-color: blue;
    color: white;
    border-style: solid;
    border-color: black;
    cursor: pointer;
    transition: background-color 2s ;
}

button:hover {
    background-color: yellow;
}

#jumpMenu {
    max-height: 0;
    height: 215px;
    text-align: center;
    overflow: hidden;       
    background-color: yellow;
    transition: max-height 2s;
    padding: 0;
    margin: 0;
}

#recentArticles:hover + #jumpMenu, #jumpMenu:hover {
    max-height: 215px;      
}

#jumpMenu a {
    display: block;
    padding: 2px;
    color: blue;
    text-decoration: none;
    font-size: 14px;
}

#jumpMenu a:hover {
    background-color: blue;
    color: black;
}

h1 {
    font-family: 'Times New Roman', Verdana, sans-serif;
    font-style: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 50px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

article {
    box-sizing: border-box;
    flex-direction: column;
    text-align: justify;
    text-justify: inter-word;
    color: lightgray;
    width: 280px;
    padding: 15px;
    scroll-margin-top: 25vh;
    transition: font-size 2s, font-family 2s, color 2s;
}

article:hover{
    color: black;
    font-family: 'Times New Roman', Verdana, sans-serif;
    font-size: 20px;
}

article p {
    line-height: 1.5;
    margin-bottom: 10px;
}

article p::first-letter {
    font-family: 'Times New Roman', Verdana, sans-serif;
    font-variant: small-caps;
    font-size: 36px;
}

article p:last-child::first-letter {
    font-variant: normal;
    font-size: 15px;
}

article p:last-child a::after {
    content: url('wikiArrow.png');  
}

article h2 {
    margin-bottom: 30px;
    font-family: 'Comic Sans', Verdana, sans-serif;
}

article a {
    color: blue;
    text-decoration: underline;
    font-size: clamp(12px, 1vw, 15px);
}

article p {
    line-height: 1.5;
    margin-bottom: 10px;
}

#thanks {
    position: fixed;
    background-color: lightblue;
    padding: 15px 25px;
    font-size: 32px;
    bottom: 0px;
    right: 0px;
    margin: 0;
}
